body {
  height: 100vh;
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wrapper {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.wrapper-2 {
  margin: 20px auto;
  padding: 40px;
}
h1 {
  padding: 15px;
  margin: 10px auto;
  font-size: 50px;
}

.cocktail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cocktail-item {
  width: 85%;
  background-color: pink;
  margin: 25px;
  text-align: center;
}
.new-wrapper {
  border: 2px solid red;
}
*,
*:focus {
  outline: none;
}

.form {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  position: relative;
}

.form input {
  display: block;
  width: 100%;
  height: 40px;
  border: solid 1px #ccc;
  transition: all 0.3s ease;
}
.form input:focus {
  border-color: goldenrod;
}
.form label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all 0.3s ease;
}
.form input:focus + label,
.form input:valid + label {
  font-size: 11px;
  top: -5px;
}
.form input:focus + label {
  color: goldenrod;
}
